@model IEnumerable<EPSN.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription_Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate_Article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discript)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer.Name_Writer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Article)
        </td>
        <td>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => item.Discription_Article).ToString()))
        </td>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(model => item.Image_Article)" class="thumbnail" style="width:100px; height:100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate_Article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writer.Name_Writer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Article }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Article }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Article })
        </td>
    </tr>
}

</table>
