@model EPSN.Course_Lessons

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course_Lessons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_units.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_units.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
