@model EPSN.Category_Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category_Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_ArticleCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_ArticleCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_ID)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.Image_ID)" class="thumbnail" style="width:100px; height:100px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ArticleCategory }) |
    @Html.ActionLink("Back to List", "Index")
</p>
